*{
  box-sizing:border-box;
  padding: 0;
  margin: 0;
}
#container{
  font-size:1.5rem;
  text-align: center;
  font-family:sans-serif;
  font-weight:800;
}
#rollDicebtn{
  padding:.50em .90em;
  background:#3F56C3;
  font-size:.65em;;
  font-weight:800;
  color:white;
  border: none;
  border-radius:9px;
  transition:opacity 0.15s,color 0.15s;
}
#rollDicebtn:active{
  background :whitesmoke;
  color:black;
}
#textbox{
  padding:10px;
  font-size:2rem;
  width:180px;

}